<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOU E-Gyan Portal</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</head>
<body>
  <div class="container">
     <div class="row bg-danger text-light">
      <div class="col-sm-4" style="text-align: center;">Contact no 8318561647</div>
      <div class="col-sm-4" style="text-align: center;">Email us rt691343@gmail.com</div>
      <div class="col-sm-4" style="text-align: center;">Follow us</div>
     </div>
     <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Nalanda Open University</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'nouapp:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'nouapp:aboutus' %}">Aboutus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'nouapp:registration' %}">Registration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'nouapp:login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'nouapp:contactus' %}">Contactus</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
     </nav>
     <div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/s1.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/s2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/s3.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
     </div>
    
     <div class="row mt-2">
     <div class="col-sm-3" style="background-color: aqua;color:white; min-height: 600px;"></div>
     <div class="col-sm-9" style="background-color: grey; min-height: 600px;">
       {% block main %}
       
       {% endblock main %}
     </div>
     <div class="row mt-3">
     <div class="col-sm-3" style="background-color: yellowgreen;color:white; min-height: 250px;">
      <div>
        <div style="text-align: center;">
        <img src="static/images/11.png"></div>
        <p>Nalanda Open University is a State Open University duly established under the Act of Bihar Government and is also recognized by Distance Education Council, IGNOU, Maidan Garhi, New Delhi.</p>
      </div>
     </div>
     <div class="col-sm-3" style="background-color: yellowgreen;color:white;min-height: 250px;">
        <h3>Useful Links</h3>
        <span class="animate-border border-black mb-4"></span>
        <ul>
        <li>
        <a href="#">Home</a>
        </li>
        <li>
        <a href="#">About Portal</a>
        </li>
        <li>
        <a href="#">Services</a>
        </li>
        <li>
        <a href="#">Contact us</a>
        </li>
        <li>
        <a href="#">Courses</a>
        </li>
        <li>
        <a href="#">Study Centre</a>
        </li>
        </ul>
     </div>
     <div class="col-sm-3"  style="background-color: yellowgreen;color:white; min-height: 250px;">
        <h3>Contact info</h3>
        <span class="animate-border border-black mb-4"></span>
        <h3 class="con-info-add"><i class="bi bi-geo-alt-fill"></i> NOU</h3>
        <p>2nd/3rd Floor, Biscomaun Bhawan, Gandhi Maidan, Patna 800 001 (BIHAR).</p>
        <br>
        <h3 class="con-info-add"><i class="fa fa-volume-control-phone"></i> +91 7080102007</h3>
        <p>Give us a call</p>
        
      </div>
     <div class="col-sm-3"  style="background-color: yellowgreen;color:white; min-height: 250px;">
      <h3>Subscribe</h3>
      <span class="animate-border border-black mb-4"></span>
      <p>Fill the detail below to receive the manual of the NOU e-Gyan Portal </p>
      <form action="#">
      <div class="form-row">
      <div class="col dk-footer-form">
      <input type="email" class="form-control" placehold