body{
background-color:grey;
}
#outer{
height:1160px;
width:1200px;
border:1px solid white;
margin:0px auto;
}
#left{
height:1120px;
width:580px;
float:left;
//border:1px solid;
margin-top:20px;
margin-left:20px;
}
#mid{
height:1120px;
width:270px;
//border:1px solid;
margin-top:20px;
margin-left:20px;
float:left;
}
#right{
height:1120px;
width:270px;
//border:1px solid;
margin-top:20px;
margin-left:20px;
float:left;
}
#google{
height:400px;
width:580px;
float:left;
background-color:white;
border-radius:5px;
}
#bb{
height:300px;
width:280px;
//background-color:brown;
float:left;
margin-top:20px;
//margin-left:20px;
border-radius:5px;
}
#bbpic{
height:200px;
width:280px;
float:left;
background-color:brown;
opacity:0.6;
}
#bbtext{
height:100px;
width:280px;
float:left;
background-color:brown;
color:white;
}
#chrome{
height:400px;
width:280px;
background-color:#470101;
float:left;
margin-top:20px;
margin-left:20px;
border-radius:5px;
}
#chrpic{
height:250px;
width:280px;
float:left;
opacity:0.5; 
}
#chrtext{
height:150px;
width:280px;
float:left;
color:white;
}
#android{
height:380px;
width:280px;
background-color:lightgreen;
float:left;
margin-top:-80px;
//margin-left:20px;
border-radius:5px;
}
#music{
height:280px;
width:280px;
background-color:yellow;
float:left;
margin-top:20px;
margin-left:20px;
border-radius:5px;
}
#gmail{
height:350px;
width:270px;
float:left;
//background-color:cyan;
border-radius:5px;
//margin-top:20px;
}
#gpic{
height:200px;
width:270px;
//border:1px solid;
background-color:cyan;
//background-image:url(../images/gmail.webp);
//background-repeat:no-repeat;
float:left;
//background-size:cover;
opacity:0.6;
}
#gtext{
height:150px;
width:270px;
float:left;
background-color:cyan;
color:black;
text-align:center;
}
#paper{
height:320px;
width:270px;
float:left;
background-color:lightgreen;
border-radius:5px;
margin-top:20px;
}
#nasa{
height:410px;
width:270px;
float:left;
background-color:darkblue;
border-radius:5px;
margin-top:20px;
}
#maps{
height:460px;
width:270px;
float:left;
background-color:yellow;
border-radius:5px;
//margin-top:20px;
}
#search{
height:300px;
width:270px;
float:left;
background-color:#32a6a8;
border-radius:5px;
margin-top:20px;
}
#yt{
height:320px;
width:270px;
float:left;
background-color:black;
border-radius:5px;
margin-top:20px;
}




